# Environment variables
DJANGO_SETTINGS_MODULE='config.settings.local'

DJANGO_DEBUG=True or False
DJANGO_SECRET_KEY=""

ALLOWED_HOSTS=["*"]

# Project title displayed in the header
PROJECT_TITLE="Project Title"

# Set site to LOCAL, STAGE or PRODUCTION
SITE="[LOCAL] "

# Poastgresql database
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST="localhost"
DB_PORT="5432"

# Email backend
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
