{% load static %}
{% load i18n %}
{% now "Y" as year_str %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html  lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon"href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
 
</head>
  <body>
    <div id="navbar">
      {% include "partials/navbar.html" %}
    </div>

    {% if messages %}
    <div>
        <strong>{% trans "Messages:" %}</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}

    <divid="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- JS Global Compulsory  -->
    <script src="{% static 'js/base.js' %} "></script>
  </body>
</html>